<style>
  nav{
    display: flex;
    background-color: #212121;
    justify-content: space-around;
    color: white;
    padding: 10px;
  }

  nav a{
  color: white;
 text-decoration: none;
}
nav a.active{
  color: red;
  text-decoration: underline;
}

</style>


<nav>
<a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Contador</a>
<a [routerLink]="['/hero']" [routerLinkActive]="'active'">hero</a>
<a [routerLink]="['/dragonball']" [routerLinkActive]="'active'">dragon ball</a>
<a routerLink='/dragonball-super' routerLinkActive='active'>dragon ball Super</a>
</nav>
